/* Common Styles */

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
.chat-container {
    background: transparent;
    position: relative;
     font-family: "Akaya Telivigala", system-ui;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    z-index: 0;
}

.spacer {
    flex-grow: 1;
    z-index: 0;
}
.chat-input-light-mode:focus,
.chat-input-dark-mode:focus {
    outline: none;
    box-shadow: none;
}
.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    
  }
/* ___________________________________________________Light Mode_________________________________________________________________*/

.App-light-mode {
    background-color: #cae3fe;
    color: #333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #7594ff, #004fa0);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.App-light-mode::before {
    content: "BLUECHAT";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Akaya Telivigala", system-ui;
    font-size: 6vw;
    color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    pointer-events: none;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.usr_msg-light-mode,
.ai_msg-light-mode {
    background-color: #1877d0;
    color: #000000;
    border-radius: 20px;
    margin-top: 5px;
    padding: 14px 4px 0px 4px;
    font-family: "Akaya Telivigala", system-ui;
    font-size:18px;
    font-weight: 500;
    box-shadow: 5px 4px 6px 3px rgba(0, 0, 0, 0.1);
    height: fit-content;
    max-width: 95%;
    word-wrap: break-word;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.usr_msg-light-mode {
    align-self: flex-end;
}

.ai_msg-light-mode {
    align-self: flex-start;
}

.tab-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    width: 60%;
    margin: 0 auto; /* Center the tab container */
    transition: margin 0.5s ease-in-out;
}
.tab-light-mode {
    padding: 10px 20px;
    background-color: #44a4d1;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
.tab-light-mode:hover {
    background-color: #45bbff;
    color: #333;
    transform: scale(1.05);
}
  
.chat-input-container-light-mode{
    display: flex;
    align-items: center;
    background-color: #a6bffc;
    border-radius: 20px;
    padding: 10px;
    box-shadow:  -2px -1px 20px 7px rgba(0, 0, 0, 0.1);
    height: 37px;
    width: 60%; 
    margin: 0 auto 10px auto;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.file-upload-button-light-mode:hover,
.send-button-light-mode:hover {
    color: #1a73e8;
    transform: scale(1.2);
}

.chat-input-light-mode {
    display: flex;
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #000;
    font-family: "Akaya Telivigala", system-ui;
    font-size: 17px;
    outline: none;
    padding-left: 10px;
}

.chat-input-light-mode::placeholder {
    color: #555;
}

.send-button-light-mode {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.reset-button-light-mode {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.send-button-light-mode:hover {
    color: #1a73e8;
    transform: scale(1.2);
}

.pending-button-light-mode {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}


/* ___________________________________________________Dark Mode_________________________________________________________________*/

.App-dark-mode {
    background: linear-gradient(135deg, #161616, #222222);
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.App-dark-mode::before {
    content: "BLUECHAT";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     font-family: "Akaya Telivigala", system-ui;
    font-size: 6vw;
    color: rgba(175, 175, 175, 0.1);
    z-index: 0;
    pointer-events: none;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.usr_msg-dark-mode,
.ai_msg-dark-mode {
    background-color: #0c0c0c;
    color: #c9c9c9;
    border-radius: 20px;
    margin-top: 5px;
    padding: 14px 4px 0px 4px;
    font-family: "Akaya Telivigala", system-ui;
    font-size:18px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(78, 78, 78, 0.5);
    height: fit-content;
    max-width: 95%;
    word-wrap: break-word;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.usr_msg-dark-mode {
    align-self: flex-end;
}

.ai_msg-dark-mode {
    align-self: flex-start;
}

.tab-dark-mode {
    padding: 10px 20px;
    background-color: rgb(19, 19, 19);
    color: #c9c9c9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
.tab-dark-mode:hover {
    background-color: #222222;
    transform: scale(1.05);
}
  
.chat-input-container-dark-mode{
    display: flex;
    align-items: center;
    background-color: #030303;
    border-radius: 20px;
    padding: 10px;
    box-shadow: inset -2px -1px 20px 7px rgba(0, 0, 0, 0.1);
    height: 37px;
    width: 60%; /* Make the input container narrower */
    margin: 0 auto 10px auto; /* Center the input container */
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.chat-input-dark-mode {
    flex-grow: 1;
    border: none;
    background: transparent;
    color: #ccc;
    font-family: "Akaya Telivigala", system-ui;
    font-size: 17px;
    outline: none;
    padding-left: 10px;
}

.chat-input-dark-mode::placeholder {
    color: #949494;
}

.file-upload-button-dark-mode,
.send-button-dark-mode {
    background-color: transparent;
    color: #fcfcfc;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.file-upload-button-dark-mode:hover,
.send-button-dark-mode:hover {
    color: #6e6e6e;
    transform: scale(1.2);
}

.pending-button-dark-mode {
    background-color: transparent;
    color: #fcfcfc;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    transition: all 0.4s;
}