.dropdown-container {
    background-color:#dadadae8; 
    color: #1a73e8;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
  }

.navbar-light-mode {
    /* background: linear-gradient(135deg, #506ac2, #000000); */
    background:#f0f0f0;
    box-shadow: 0 2px 4px #0000001a;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.title-light-mode {
    color: #388bff;
    margin-top: -16px;
    margin-bottom: -16px;
    margin-left: 1vw;
    font-family: "Akaya Telivigala", system-ui;
    font-weight: bold;
    font-size: 6vh;
    display: flex;
    text-shadow: 2px 2px 2px #0000001a;
}

.toggle-mode-light-mode {
    margin-right: 4px;
    color: #1a73e8;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.toggle-mode-light-mode:hover {
    transform: scale(0.9);
}


.navbar-dark-mode {
    background: linear-gradient(135deg, #333333, #000000);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.title-dark-mode {
    color: #4aa5e2;
    margin-top: -16px;
    margin-bottom: -16px;
    margin-left: 1vw;
    font-family: "Akaya Telivigala", system-ui;
    font-weight: bold;
    font-size: 6vh;
    display: flex;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.toggle-mode-dark-mode {
    margin-right: 4px;
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.toggle-mode-dark-mode:hover {
    color: #1a73e8;
    transform: scale(0.9);
}